################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyRoachFriendsaysHello!/.vs/MyRoachFriendsaysHello!/v17/DocumentLayout.backup.json
/MyRoachFriendsaysHello!/.vs/MyRoachFriendsaysHello!/v17/.suo
